@{
    ViewData["Title"] = "Admin Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}
@section Scripts {
    <script src="~/js/admin.js"></script>
}

@model List<User>

<div class="role-section">
    <div class="role-bar" data-role="Admin">Admin</div>
    <div class="role-users">
        @foreach (var user in Model.Where(u => u.Role == "Admin"))
        {
            <div class="user-block p-2 answer-block">
                ユーザー名: @user.Username / 学年: @user.Grade
            </div>
        }
    </div>
</div>

<div class="role-section">
    <div class="role-bar" data-role="Teacher">Teacher</div>
    <div class="role-users">
        @foreach (var user in Model.Where(u => u.Role == "Teacher"))
        {
            <div class="user-block p-2 answer-block">
                ユーザー名: @user.Username / 学年: @user.Grade
            </div>
        }
    </div>
</div>

<div class="role-section">
    <div class="role-bar" data-role="Student">Student</div>
    <div class="role-users">
        @foreach (var user in Model.Where(u => u.Role == "Student"))
        {
            <div class="user-block p-2 answer-block">
                ユーザー名: @user.Username / 学年: @user.Grade
            </div>
        }
    </div>
</div>
